<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Empresas</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/empresas/listar" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Empresas</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        
	            <form th:action="${empresa.id == null} ? @{/empresas/salvar} :  @{/empresas/editar}" 
	            	  th:object="${empresa}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="nome">Empresa</label>
	                        <input required type="text" class="form-control" id="nome"
	                               placeholder="Nome empresa" autofocus="autofocus" th:field="*{nome}"/>
	                    </div>
	                </div>
	                <input type="hidden" id="id"th:field="*{id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
	
	
</body>
</html>
